 .container{
     width: 500px;
     min-height: 300px;
     margin: auto;
     background-color: lightgray;
     padding: 50 px;
 }

 h1 {
     text-align: center;
     text-decoration-color: white;
 }

 p {
     color: navy;
     text-align: left;
     margin: 5px 20px;
     display: inline-block;
     width: 175px;
    

 } 

 p #comment {
     display: block;
 }

 button{
     color: lightgray;
     background-color: navy;
     padding: 5px;
     text-align: center;
     margin: 5px 225px;
 }

 input{
     margin: 5px 20px;
     display: inline-block;
     width: 200px;

 }
 #comm{
     height: 200px
 }